body{
  background:#111;
  color:white;
  font-family:Arial;
}

/* LOGIN PAGE */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.login-card h1 {
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  background: #111;
  color: white;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #00ffcc;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-card button:hover {
  background: #00ddb0;
}
